body{

  background: #2b5876;  
  background: -webkit-linear-gradient(to right, #4e4376, #2b5876); 

  background: linear-gradient(to right, #2e2256, #103750);
  /* background: linear-gradient(to right, #4e4376, #2b5876);   */

  /* Celestial */
  /* background: #C33764;  
  background: -webkit-linear-gradient(to right, #1D2671, #C33764);  
  background: linear-gradient(to right, #1D2671, #C33764);   */
}

img{
  width: 50%;
  max-width: 100%;
  display: block;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.login-box {
  
  padding: 40px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.551);
  backdrop-filter: blur(10px);
  color:white;
  text-align: center;
  width: 300px;
  
}
.login-box h2{
  text-align: left;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 93%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #360593;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #2f0878;
}
.login-welcome__img{
  display: flex;
  justify-content: center;
}

